.highlighted {
  .alert-success {
    margin-top: 50px;
    background-color: $mint;
    border-color: transparent;
    border-radius: 30px;
    text-align: center;
    .btn-close{
      display: none;
    }
  }
}
