.ui-dialog{
  border-radius: 10px;
  background: #d8ffeb;
  .button{
    box-shadow: none;
    line-height: 25px;
    @include btn();
  }
}

.ui-dialog-titlebar{
  background-color: #5ae3b669;
  border: none;
  color: #888;
}

.ui-dialog-titlebar-close{
  background: #F3969A;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before{
    color: #fff;
    font-weight: bold;
    content: "×";
  }
  &:hover{
    transition: 0.5s;
    background-color: #ef6a6f;
  }
}

.ui-dialog-content{
  text-align: center;
  color: #888;
}

.ui-dialog-buttonpane{
  background: transparent;
  padding: 5px 0;
  color: #888;
}
