.ui-dialog{
  border-radius: 10px;
  background: $l-mint;
  .button{
    box-shadow: none;
    line-height: 25px;
    @include btn();
  }
}

.ui-dialog-titlebar{
  background-color: $mint;
  border: none;
  color: $grey;
}

.ui-dialog-titlebar-close{
  background: $pink;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before{
    color: $white;
    font-weight: bold;
    content: "×";
  }
  &:hover{
    transition: 0.5s;
    background-color: $red;
  }
}

.ui-dialog-content{
  text-align: center;
  color: $l-grey;
}

.ui-dialog-buttonpane{
  background: transparent;
  padding: 5px 0;
  color: $l-grey;
}
