.tarik-cats{
  .title{
    margin-top: 30px;
    border-radius: 50px;
    line-height: 100px;
    background-color: #ade2d8;
    text-align: center;
    color: #fff;
  }

  .table-responsive{
    .odd{
      background-color: rgba(173, 226, 216, 0.5);
    }
    tbody{
      tr{
        &:hover{
          transition: 0.5s;
          background-color: rgba(173, 226, 216, 1);
        }
      }
      td{
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}


.form-cats{
  padding: 30px 0;
  margin: 0 auto;
  width: 80%;
  label{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    color: #5a5a5a;
    font-size: 24px;
  }
  input{
    &::placeholder{
      color: #9d9d9d;
    }
  }
  .button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    background-color: #ade2d8;
  }
  .form-submit{
    margin-top: 50px;
  }
  .form-managed-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 10px;
    }
  }
  .form-item-upload-img{
    input {
      width: 50%;
    }
    .error{
      background-color: transparent;
      box-shadow: none;
    }
  }
  .alert{
    border: none;
  }
  .alert-success{
    background-color: #ade2d8;
    text-align: center;
  }
  .alert-danger{
    text-align: center;
    background-color: #F3969A;
    padding-left: 0;
    padding-right: 0;
    li{
      background-color: #F3969A;
      text-align: center;
      border: none;
      padding-right: 0;
    }
  }
}
.form-cat-message{
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
  background-color: #ade2d8;
  color: #fff;
  border-radius: 0.4rem;
}

.invalid-message, .error{
  margin-top: 15px;
  padding: 20px 0;
  background-color: #F3969A;
  color: #fff;
  text-align: center;
  border-radius: 0.4rem;
}
//---------------modal gallery
.cat-picture {
  //border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    opacity: 0.7;
  }
}

#imgModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-result {
  //margin: auto;
  //display: block;
  //width: 300px;
  //height: 300px;
}

.close {
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
